@use '../utils' as *;

//========================================= 
.header__mobile-menu{
    @include breakpoint-min(900px){
        display: none;
    }
    .hamburger{
        z-index: 200;
        cursor: pointer;
    }
    .hamburger::before{
        content: "";
        display: block;
        height: 2px;
        width: 20px;
        box-shadow: 0px 6px 0px #000;
        background: #000;
        transition: .5s ease-in-out;
    }
    .hamburger::after{
        content: "";
        display: block;
        height: 2px;
        width: 20px;
        background: #000;
        margin-top: 10px;
        transition: .5s ease-in-out;
    }
}
//=========================================
.change{
    .hamburger{
        outline: none;
    }
    .hamburger::before{
        // transform: rotate(45deg) translateX(2px) translateY(4px);
        animation: anim 0.5s ease-in-out forwards;
        // background-color: $DarkGray;
        // box-shadow: none;
    }
    .hamburger::after{
        // background: $DarkGray;
        // transform: rotate(-45deg) translateX(2.5px) translateY(-5px);
        animation: anime 0.5s ease-in-out forwards;
    }
}

.removeChange{
    .hamburger{
        outline: none;
    }
    .hamburger::before{
        // transform: rotate(45deg) translateX(2px) translateY(4px);
        animation: animRemove 0.5s ease-in-out forwards;
        // box-shadow: none;
    }
    .hamburger::after{
        // transform: rotate(-45deg) translateX(2.5px) translateY(-5px);
        animation: animeRemove 0.5s ease-in-out forwards;
    }
}
//=========================================
.none{
    display: none;
}







//=========================================
.mobile-items{
    height: 0px;
    z-index: 10;
    // transform: translateY(-60px);
    transition: 0.6s;
    opacity: 0;
    padding: 20px;
    background: #DEE2E6;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    @include breakpoint-min(900px){
        display: none;
    }
    text-align: left;
    .search{
        position: relative;
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px 40px;
            font-size: 14px;
            border: none;
            outline: none;
            background: #EDEEF0;
            border-radius: 4px;
            resize: vertical;

        } 
        .search-logo{
            position: absolute;
            top: 10px;
            left: 12px;
            width: 18px;
        }
    }
    .mobile-item2{
        padding-top: 15px;
        ul{
            display: flex;
            flex-direction: column;
            li{
                margin: 15px 0px;
                font-size: 15px;
                font-weight: 500;
                a{
                    padding: 8px 17px;
                    text-align: center;
                    border-radius: 4px;
                    .a-down{
                        position: relative;
                        top: 4px;
                        left: 14px;
                        font-size: 18px;
                    }
                    .p-add{
                        position: relative;
                        top: 4px;
                        right: 5px;
                        font-size: 18px;
                    }
                }
                .post{
                    background: #EDEEF0;
                    color: #000;
                }
                .join{
                    background: #2F6CE5;
                    color: #fff;
                    // padding: 0px 0px;
                }
            }
        }
    }
}


.no-scroll{
    z-index: 100;
    overflow: hidden;
    // background-color: #000;
    // opacity: 0.2;
    height: 100vh;
    width: 100%;
}


.open{
    opacity: 1;
    transform: translateY(0px);
    height: 200px;
}

//=========================================
.account-mobile{
    @include breakpoint-min(900px){
        display: none;
    }
    z-index: 300;
    position: fixed;
    bottom: 30px;
    right: 30px;
    .mob-img{
        height: 50px;
        width: 50px;
        background: linear-gradient(#FF5C5C,#F0568A);
        border-radius: 50px;
        position: relative;
    }
    ion-icon{
        font-size: 22px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}




.ove::after{
    content: "";
    display: block;
    background: #000;
    opacity: 0.7;
    height: 500%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
}